* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: blueviolet;
    padding: 0px;
    margin: 0px;
}

#cachorrinho {
    display: block;
    width: 4.7%;
    height: 10.65%;
    top: 65%;
    left: 7%;
    position: absolute;
    z-index: 2;
    background-image: url('./ratinho.png');
    background-repeat: no-repeat;
}

#ratoGordinho {

    width: 15%;
    height: 30%;
    top: -5%;
    left: 85%;
    position: absolute;
    z-index: 3;
    background-image: url('./ratogordo.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

#correrato {

    width: 15%;
    height: 30%;
    top: -3%;
    left: -5%;
    position: absolute;
    z-index: 3;
    background-image: url('./corre.png');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;

}

h1{
    text-align: center;
    color: white;
    margin-top: 5%;
}